@use '../../styles/partials/colors' as *;

.login {
    &__image {
        margin-top: 3rem;
    }

    &__header {
        color: $olive-green;
    }

    &__button {
        background-color: $pale-green !important;
    }

    &__input-center {
        margin-left: auto;
        margin-right: auto;
    }

    &__forgot {
        color: $olive-green;
    }
    &__register{
        color: $olive-green !important; 
    }
    &__not-member{
        color: $olive-green;
        display: flex;
    }
    &__input-text{
        color:$grass-green ;
        border-color:$olive-green ;
    }
    

}