@use "../../styles/partials//breakpoints" as *;
@use "../../styles/partials/colors" as *;

.bestsellingpots {
	&__image {
		height: 20rem;

		@include media-tablet {
			height: 13rem;
		}
		@include media-desktop {
			height: 15rem;
		}
	}
	&__button {
		background-color: $olive-green;
	}
	&__card {
		height: 3rem;
		font-size: 2rem;

		
	}
    &__heading {
        font-weight: 700 !important;
        font-size: 3rem;
        color: $olive-green;
    }
    &__heading-set {
        margin-top: 1rem;
    }
    &__card-height {
        height: 25rem;
    }
    &__card-bgimage {
        background-image: url("https://res.cloudinary.com/dchzjr4bz/image/upload/v1690968621/pot1_gkvkfb.webp ");
    }
}
