
$olive-green : #3E5700;
$golden-yellow:#F4D50C;
$white:#FFFFFF;
$pale-green:#E1EDC2;
$off-white:#EFF4E3 ;
$mint-cream:#E3EAD2 ;
$deep-green:#192800;
$grass-green:#7E9D25;
$fade-green:rgba(227, 234, 210, 0.57);
$background-image-green:rgba(225, 237, 194, 0.2);




 
 

 
